@keyframes scrollLeft {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: calc(var(--tileWidth) * -1);
    }
}

@keyframes swim {
    0% {
        transform: rotateY(-30deg);
    }

    50% {
        transform: rotateY(30deg);
    }

    100% {
        transform: rotateY(-30deg);
    }
}

@keyframes ground-wiggle {
    0% {
        transform: scale(1.4) translateX(5%)
    }

    50% {
        transform: scale(1.4) translateX(-5%)
    }

    100% {
        transform: scale(1.4) translateX(5%)
    }
}