.level-container {
    position: relative;
    top: 0;
}

.tile {
    position: absolute;
    width: var(--tileWidth);
    height: var(--tileHeight);
    z-index: 1;
}

.tile.waves {
    background-image: url(../gfx/waves.png);
    background-size: cover;
    animation-name: scrollLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tile.sky {
    background-color: white;
}

.tile.ground {
    background-image: url(../gfx/ground.png);
    background-size: cover;
    transform: scale(1.3);
    z-index: 10;

    animation: ground-wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tile.open-water {
    background-color: #797979;
    z-index: 2;
}