.player {
    position: absolute;
    width: calc(var(--tileWidth) * 1.5);
    height: calc(var(--tileHeight) * 1.5);
    z-index: 5;
    perspective: 50px;
    transform-style: preserve-3d;
}

.player-sprite {
    position: absolute;
    width: calc(var(--tileWidth) * 1.5);
    height: calc(var(--tileHeight) * 1.5);
    background-image: url(../gfx/player.png);
    background-size: contain;

    animation: swim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.player-sprite.swimming {
    animation-duration: 0.5s;
}